<p><%= @user.email %>のページ</p>
<% @user.articles.each do |article| %>
	<p>タイトル：<%= article.title %></p>
	<p>著者：<%= article.author %></p>
	<td><% if article.liked_by? current_user %>
              <%= link_to "いいね解除", article_likes_path(article), method: :delete %>
         <% else %>
              <%= link_to "いいね", article_likes_path(article), method: :post %>
         <% end %>
     </td>
<% end %>